.wrapper_upload {
    margin: auto;
    width: 700px;
}

.container {
    margin: 50px auto auto;
    padding: 25px 25px 20px;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 2px 42px rgb(0 0 0 / 11%);
    border-radius: 7px;
}

.title {
    margin-bottom: 25px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    line-height: 25px;
    color: #282828;
}

.input_wrapper_area {
    border: 1px solid #dedee0;
    border-radius: 5px;
    background: #f9fafb;
    max-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;
}

.input_description {
    flex-flow: column wrap;
    height: 200px;
    max-height: none;
}

.form_upload {
    letter-spacing: .3px;
    font-size: 12px;
}

.button_upload {
    background: #349a89;
    text-transform: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    margin-top: 14px;
    border: none;
    width: 500px;
    height: auto;
    padding: 20px 15px;
}