.header_search {
    margin: auto;
    max-width: 855px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_search_item {
    height: 50px;
    width: 467px;
    left: 292px;
    top: 102px;
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_icon {
    padding-left: 15px;
}

.input_search_item {
    color: #000;
    background-color: rgba(17,17,17,0);
    border: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    font-size: 16px;
    padding: 20px 15px;
}

.header_search_location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7px;
    height: 50px;
    width: 198px;
    border-radius: 4px;
    background: #FFFFFF;
}

.header_search_button {
    height: 50px;
    width: 176px;
    left: 971px;
    top: 101px;
    border-radius: 4px;
    background: #3E3961;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 40px;
    float: left;
    letter-spacing: 1px;
    transition: .3s;
    color: #FFFFFF;
}

.header_search_button:hover {
    background: #37325C;
}