* {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  border-style: none;
}

input, select {
  -webkit-appearance: none;
  outline: none;
}

button {
  border: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}
